.Backdrop { 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    z-index: 200; 
    left: 0; 
    top: 0; 
    background-color: rgba(88, 88, 80, 0.349); 
    color: white; 
    text-align: center; 
}

.Backdrop span { 
    margin-top: 40%; 
    font-size: large; 
} 

.Loading { 
    margin-top: 5%;
}